@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
  font-family: Roboto;
  line-height: 1.5;
  margin: 1cm;
}

code, pre {
  font-family: "Source Code Pro";
}

h2, h3 {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 0.5em;
}

h2:first-child, h3:first-child {
  margin-top: 0;
}

p {
  margin: 0 0 1rem 3rem;
}

p code {
  background-color: #f2f2f2;
  border-radius: .25rem;
  padding: .2rem .4rem;
}

ul {
  margin: 0 0 1rem 3rem;
  padding: 0;
}

/* Remove headers and footers added by Chrome when printing */
@page {
  margin: 0;
}
